<form id="new-post-form">
  <label for="title">Title</label>
  <input type="text" id="title"/>

  <label for="content">Content</label>
  <textarea type="text" id="content"></textarea>

  <button type="submit">Submit</button>
</form>

<script src="/js/newpost.js"></script>